body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
}

canvas {
  width: 600px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.control {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
